.response__textField{
  width:100%!important;
  margin: 0px!important;

}

.response__author>div {
  margin: 0 !important;
}

.response__author>label {
  top: -11px !important;
}

.simpleForm .response__header{
  cursor:text;
}

.writeResponse__actions{
  padding: 2px 14px 14px!important;
}
.PostCard{
  height: 100%;
}
.actions__cancel{
  text-decoration: underline!important;
}
