.card__ContentField {
  width: 100% !important;
  margin: 0px !important;
}

.card__headerField>div {
  margin: 0 !important;
}

.card__headerField>label {
  top: -11px !important;
}

.card__form--simple .card__header {
  cursor: text;
}

.card__saveActions {
  padding: 2px 14px 14px !important;
}

.card__content {
  flex: 1;
}

.card__form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
