.voteActions>button:last-of-type{
  margin-left: auto!important;
}
.voteActions__votes{
  min-width: 1.3em;
  text-align: center;
}
.voteActions__deleteDialog>div:last-child {
  box-shadow: initial !important;
  min-width: 300px;
}
