.app_header--defWidth, .app__navigation--defWidth, .main-content--defWidth, footer {
  max-width: 1050px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 2em;
}

/*loading*/

.loading-area {
  min-height: 5px;
}

/* header */

.app_header {
  box-shadow: initial !important;
}

.app__logo {
  width: 43px;
  margin: 4px 16px 0 -7px
}

.app_header--transparent {
  background: transparent !important;
}

.app__search--right {
  margin-left: auto !important;
}

.app__name {
  font-size: 1.5em !important;
}

/*Navigation*/

.app__navigation {
  margin: 0.5em 0 1.5em;
}

.app__navigation .navigation__item:first-child {
  padding-left: 0px !important;
}

.navigation__item {
  margin: 0px;
  color: rgba(0, 0, 0, 0.64) !important;
  background-color: rgba(0, 0, 0, 0);
  min-width: 0px !important;
  font-weight: normal !important;
  letter-spacing: .05em !important;
  font-size: 1em !important;
  text-transform: uppercase;
}

.navigation__item:hover, .navigation__item--selected {
  background-color: transparent !important;
  color: black !important;
}

/*Pages / main-content*/

.main-content, .relativ {
  position: relative;
}

/* basic control styles */

.link {
  color: #ff5722;
  font-style: normal;
  text-decoration: none;
}

.button--cancel {
  text-decoration: underline !important;
}

.gridlist__tile>* {
  border: 1px solid rgba(0, 0, 0, .1) !important;
}

.divider--bigMargin {
  margin: 1.5em 0 2em !important;
}

button:not(.button--showShadow) {
  box-shadow: initial !important;
}

.text--firstUppercase {
  display: inline-block !important;
}

.text--firstUppercase:first-letter {
  text-transform: uppercase;
}

/*TODO: change in material-ui*/

div[role=dialog]>div:first-child {
  background-color: #eceaeabf;
}

/*message-bar*/
.message-bar>div{
  background-color: white!important;
}
.message-bar__text{
  color:black!important;
}
