/*main elements*/

.loading-area {
  min-height: 5px;
}

.appBar{
  box-shadow: initial !important;
}

.appBar__App-logo {
  width: 43px;
  margin: 4px 16px 0 -7px
}

.appBar--transparent, .loading-area__progress-bar--transparent {
  background-color: transparent !important;
}

.loading-area__progress-bar--transparent>div {
  background-color: #4fc3f7 !important;
}

.appBar--defWidth, .main-Nav--defWidth, .main-content--defWidth, footer {
  max-width: 1050px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding:0 2em;
}

.footer--alignRight {
  text-align: right;
}

.toolbar {
  justify-content: space-between;
}

.main-Nav {
  margin: 0.5em 0 1.5em;
}

.main-Nav .main-Nav__item:first-child {
  padding-left: 0px !important;
}

.toolbar__search--toRight {
  margin-left: auto !important;
}

.main-Nav__item {
  margin: 0px;
  color: rgba(0, 0, 0, 0.64) !important;
  background-color: rgba(0, 0, 0, 0);
  min-width: 0px !important;
  font-weight: normal !important;
  letter-spacing: .05em !important;
  font-size: 1em !important;
  text-transform: uppercase;
}

.main-Nav__item:hover, .main-Nav__item--selected {
  background-color: transparent !important;
  color: black !important;
}

.main-content, .relativ {
  position: relative;
}

.footer {
  margin: 2em auto;
}

.link{
  color: #ff5722;
  font-style: normal;
  text-decoration: none;
}

.postsMain__link{
    color: #0093c4;
}

.appName {
  font-size: 1.5em !important;
}

.divider--bigMargin {
  margin: 1.5em 0 2em !important;
}

button:not(.showShadow) {
  box-shadow: initial !important;
}

.text--firstUppercase {
  display: inline-block !important;
}

.text--firstUppercase:first-letter {
  text-transform: uppercase;
}
div[role=dialog]>div:first-child{
  background-color:#b0b0b0ad ;
}
