.article__header{
  padding:16px 16px 32px 0px!important;
}

.article__responses-section>h3, .article__write-response-section{
  margin:3em 0 1em!important;
}

.article>*:not(.article__responses-section):not(.article__write-response-section){
  margin-left: 5em;
  margin-right: 5em;
}

.article__write-response{
  box-shadow: initial !important;
}

.article__responses>li>*,
.article__write-response{
  border: 1px solid rgba(0, 0, 0, .1) !important;
}

.article__voteActions{
  margin:0px -19px!important;
}

.article__content{
  margin-bottom: 2em;
  min-height: 8em;

}
.article__divider{
      background-color: rgba(0,0,0,.05)!important;
}
