.post__category{
  display: flex;
}

.editPost hr{
  margin:8px 0px;
}

.editPost header{
    margin:2em 0px;
}

.category__label{
  color:rgba(0, 0, 0, 0.54)!important;
}

.category__select{
  font-size: 1.2em!important;
  margin-left: 8px;

}

.category__select div[role=button]{
  padding-top: 3px;
}
.category__select::before{
  background-color: transparent!important;
}
